*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-title: Georgia, "Times New Roman", Times, serif;
  --font-size: 1.2rem;
  --color: #19f;
  --color-light: #adf;
  --color-dark: #018;
  --radius: 0.2rem;
}

body {
  margin: 1.5rem;
  background-color: #000000;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius);
  background: #eee;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding-bottom: 10px;
  width: 80px;
  height: 80px;

  transition: all 0.2s ease-in-out;
  background-color: rgb(145, 4, 4);
  color: var(--color-dark);
  /* border-bottom: 8px solid rgb(109, 3, 3); */
  border: 2px solid rgb(109, 3, 3);
  box-shadow: 0 6px rgb(109, 3, 3), 0 6px 14px rgba(0, 0, 0, 0.2);
}

button:hover,
button:focus {
  /* background: rgb(145, 4, 4);
  box-shadow: 0 0 0 3px rgb(219, 64, 64), 0 0 0 4px rgb(145, 4, 4);*/
  outline: none;
  box-shadow: 0 4px rgb(109, 3, 3), 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
  top: 1px;
}

button:active {
  /* box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color); */
  box-shadow: 0 2px rgb(109, 3, 3), 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  top: 2px;
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

hr {
  border: 2px solid black;
  margin: 2rem auto;
}

.itens-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

#item {
  margin-left: 30px;
  margin-bottom: 20px;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game h1 {
  margin-bottom: 5vh;
  color: white;
  text-align: center;
}
